@charset "UTF-8";
/*-------------------------------------------------------------------------------------------------------------
    Explain : 에이닉 홈페이지
    File : common.scss
    Date   : 2024.09.11
/*------------------------------------------------------------------------------------------------------------*/
/* reset */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* 1rem = 10px */
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
}

html,
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button {
  display: block;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

em {
  font-style: normal;
}

/* z-index popup 100 */
body {
  background: #191919;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.wrap .img_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}
.wrap .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrap .pop_wrap {
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.wrap .pop_wrap.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}
.wrap .pop_wrap .pop_contents {
  position: relative;
  max-width: 500px;
}
.wrap .pop_wrap .pop_contents .close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0;
  background: url(../images/ico_pop_close.svg);
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.wrap .pop_wrap .pop_contents img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  .wrap {
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    background: #191919;
  }
  .wrap .img_wrap {
    height: 100%;
  }
  .wrap .img_wrap img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .wrap .pop_wrap .pop_contents {
    position: relative;
    max-width: 300px;
  }
  .wrap .pop_wrap .pop_contents .close_btn {
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 300px) {
  .wrap .pop_wrap .pop_contents {
    position: relative;
    max-width: 280px;
  }
  .wrap .pop_wrap .pop_contents .close_btn {
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
  }
}/*# sourceMappingURL=common.css.map */