@charset "UTF-8";
/*-------------------------------------------------------------------------------------------------------------
    Explain : 모비컴즈 기프트리
    File : common.scss
    Date   : 2024.03.27
/*------------------------------------------------------------------------------------------------------------*/
/* font */
/* layout */
/* scroll */
/* button */
/* reset */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* 1rem = 10px */
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

em {
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-Regular"), url("../fonts/Pretendard-Regular.woff2") format("woff2"), local("Pretendard-Regular"), url("../fonts/Pretendard-Regular.woff") format("woff");
  font-style: "Regular";
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-Medium"), url("../fonts/Pretendard-Medium.woff2") format("woff2"), local("Pretendard-Medium"), url("../fonts/Pretendard-Medium.woff") format("woff");
  font-style: "Medium";
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-SemiBold"), url("../fonts/Pretendard-SemiBold.woff2") format("woff2"), local("Pretendard-SemiBold"), url("../fonts/Pretendard-SemiBold.woff") format("woff");
  font-style: "SemiBold";
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-Bold"), url("../fonts/Pretendard-Bold.woff2") format("woff2"), local("Pretendard-Bold"), url("../fonts/Pretendard-Bold.woff") format("woff");
  font-style: "Bold";
  font-weight: 700;
}
/* images */
/* icon */
/* font */
/* layout */
/* scroll */
/* button */
/* z-index header 10 */
.wrap {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.wrap .contents {
  position: relative;
  width: 100%;
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  background: url("../images/img_bg.png") no-repeat center top;
  background-size: cover;
}
.wrap .contents .top_notice {
  position: absolute;
  left: 50%;
  top: 3.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100% - 4rem);
  max-width: 90%;
  height: 3rem;
  border-radius: 4rem;
  background: #cfeaff;
  padding: 0.8rem 3.2rem 0.8rem 6rem;
}
.wrap .contents .top_notice p {
  color: #000000;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -0.035rem;
  white-space: nowrap;
}
.wrap .contents .top_notice span {
  color: #000000;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: -0.03rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap .contents .top_notice::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../images/img_notice.png") no-repeat center;
  background-size: 100%;
  width: 5.2rem;
  height: 5.2rem;
}
.wrap .contents .bottom_mission {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100% - 4rem);
  max-width: 90%;
}
.wrap .contents .bottom_mission .mission_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap .contents .bottom_mission .mission_box .mission_btn {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 0.7rem;
  width: 10rem;
  height: 9rem;
  color: #000000;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.03rem;
}
.wrap .contents .bottom_mission .mission_box .mission_btn::before {
  content: "";
  display: block;
  width: 5rem;
  height: 4.4rem;
}
.wrap .contents .bottom_mission .mission_box .mission_btn.pet::before {
  background: url("../images/img_pet.png") no-repeat center;
  background-size: 100%;
}
.wrap .contents .bottom_mission .mission_box .mission_btn.feed::before {
  background: url("../images/img_feed.png") no-repeat center;
  background-size: 100%;
}
.wrap .contents .bottom_mission .mission_box .mission_btn.play::before {
  background: url("../images/img_play.png") no-repeat center;
  background-size: 100%;
}
.wrap .contents .bottom_mission .mission_box .count {
  width: 4.8rem;
  height: 2rem;
  color: #008cf8;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.03rem;
  text-align: center;
  line-height: 2rem;
  background: #cfeaff;
  border-radius: 1rem;
  border: 1px solid #008cf8;
}
.wrap .contents .bottom_mission .mission_ani {
  position: absolute;
  z-index: 9;
}
.wrap .contents .bottom_mission .mission_ani div {
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(even) {
  -webkit-animation: 2.8s missionAniEven linear;
          animation: 2.8s missionAniEven linear;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(odd) {
  -webkit-animation: 2.8s missionAniOdd linear;
          animation: 2.8s missionAniOdd linear;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(5) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(6) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.wrap .contents .bottom_mission .mission_ani.ani_play div:nth-child(7) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
@-webkit-keyframes missionAniEven {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translate(0px, -500px) scale(1);
            transform: translate(0px, -500px) scale(1);
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes missionAniEven {
  0% {
    -webkit-transform: translate(5px, 10px) scale(1);
            transform: translate(5px, 10px) scale(1);
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translate(0px, -480px) scale(1.5);
            transform: translate(0px, -480px) scale(1.5);
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes missionAniOdd {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translate(-35px, -480px) scale(1.5);
            transform: translate(-35px, -480px) scale(1.5);
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes missionAniOdd {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translate(-35px, -480px) scale(1.5);
            transform: translate(-35px, -480px) scale(1.5);
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
.wrap .contents .bottom_mission .mission_ani.heart div {
  background: url("../images/icon/ico_heart.svg") no-repeat center;
  font-size: 0;
  width: 3.4rem;
  height: 2.8rem;
}
.wrap .contents .bottom_mission .mission_ani.music div {
  background: url("../images/icon/ico_music.svg") no-repeat center;
  font-size: 0;
  width: 3.4rem;
  height: 3.6rem;
}
.wrap .contents .bottom_mission .mission_ani.smile div {
  background: url("../images/icon/ico_smile.svg") no-repeat center;
  font-size: 0;
  width: 3.4rem;
  height: 3.4rem;
}

.header {
  z-index: 10;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  width: 100%;
  max-width: 768px;
  height: 6rem;
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
}
.header .prev_btn {
  background-color: #000000;
  -webkit-mask-image: url("../images/icon/ico_prev.svg");
          mask-image: url("../images/icon/ico_prev.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  font-size: 0;
  width: 0.9rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3rem;
}
.header h1 {
  color: #000000;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
  line-height: 6rem;
  text-align: center;
}

/* font */
/* layout */
/* scroll */
/* button */
/* Mobile - Landscape */
/* Mobile - Landscape */
/* Mobile - Landscape */
/* Mobile - Landscape */
/* Tablet */
/* Desktop */
/* Desktop (Large) *//*# sourceMappingURL=common.css.map */