/* color */
/* font */
/* scroll */
/* layout */
/* button */
/* image */
/* icon */
/* reset */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  font-size: 62.5% !important;
}

html, body {
  width: 100%;
  height: 100%;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0.6rem;
  height: 2rem;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 1.2rem;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

em {
  font-style: normal;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 300 400 500 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Material-Design-Iconic-Font";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff2") format("woff2-variations");
}
body {
  background: #f5f5f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 8rem;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px;
}
header .header-inner {
  position: relative;
  width: 100%;
  max-width: 98rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .header-inner .logo {
  display: block;
  font-size: 0;
  background: url("../images/logo.png") no-repeat center;
  width: 6rem;
  height: 3.5rem;
  background-size: contain;
}
header .header-inner .pc-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .header-inner .pc-nav ul li a {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #696e82;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .header-inner .pc-nav ul li a:hover {
  color: #5a81fa;
  border-bottom: 1px solid #5a81fa;
}
header .header-inner .pc-nav ul li a.active {
  color: #5a81fa;
}
header .header-inner .menu-btn {
  display: none;
  background: url("../images/icon/ico_menu.png") no-repeat center;
  background-size: 100%;
  width: 3rem;
  height: 1.7rem;
  font-size: 0;
}
header .header-inner .mo-nav {
  position: absolute;
  top: 8rem;
  right: 0;
  display: none;
  opacity: 0;
  max-height: 0;
}
header .header-inner .mo-nav.show {
  height: auto;
  width: 100vw;
  opacity: 1;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
header .header-inner .mo-nav ul {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header-inner .mo-nav ul li {
  padding: 2rem;
  width: 100%;
}
header .header-inner .mo-nav ul li + li {
  border-top: 1px solid #ebebeb;
}
header .header-inner .mo-nav ul li a {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.6rem;
  word-break: keep-all;
  color: #696e82;
  padding-bottom: 0.2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .header-inner .mo-nav ul li a:hover {
  color: #5a81fa;
}
header .header-inner .mo-nav ul li a.active {
  color: #5a81fa;
}

footer {
  position: relative;
  padding: 5rem 0;
  text-align: center;
  background: #f5f5f9;
  border-top: 1px solid #ebebeb;
}
footer .footer-inner p {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.2rem;
  color: #696e82;
  padding: 0.4rem 0;
}
footer .footer-inner p a {
  color: #696e82;
  text-decoration: none;
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#wrap .main {
  max-width: 98rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 0;
}
#wrap .main .section-inner {
  padding-top: 5rem;
  margin: 0 auto;
}
#wrap .main .section-inner.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#wrap .main .flex-column {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#wrap .main .oneclick-wrap {
  width: 100%;
  padding: 2.4rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
          box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}
#wrap .main .oneclick-wrap h3 {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #566a7f;
}
#wrap .main .oneclick-wrap .btn-wrap {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#wrap .main .oneclick-wrap .btn-wrap h4 {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #696e82;
  margin-bottom: 1.5rem;
}
#wrap .main .oneclick-wrap .btn-wrap .btn {
  background: #fff;
  padding: 1.2rem 2rem;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}
#wrap .main .oneclick-wrap .btn-wrap .btn:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#wrap .main .oneclick-wrap .btn-wrap .btn.disabled i {
  background-color: #f5f5f9 !important;
  color: #a0a0a0 !important;
  cursor: default;
}
#wrap .main .oneclick-wrap .btn-wrap .btn.disabled .txt p {
  color: #a0a0a0 !important;
}
#wrap .main .oneclick-wrap .btn-wrap .btn.disabled:hover i {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#wrap .main .oneclick-wrap .btn-wrap .btn i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  width: 5rem;
  height: 4rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.4rem;
  word-break: keep-all;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 4rem;
  border-radius: 0.5rem;
  margin-right: 1.2rem;
}
#wrap .main .oneclick-wrap .btn-wrap .btn i.mp3 {
  color: #2b308b;
  background: #cedeff;
}
#wrap .main .oneclick-wrap .btn-wrap .btn i.flac {
  background-color: #d7f5fc;
  color: #03c3ec;
}
#wrap .main .oneclick-wrap .btn-wrap .btn i.mv {
  background-color: #fff2d6;
  color: #ffab00;
}
#wrap .main .oneclick-wrap .btn-wrap .btn i.cash {
  font-family: "Material-Design-Iconic-Font";
  font-weight: normal;
  font-size: 2.4rem;
  background-color: #fff2d6;
  color: #ffab00;
}
#wrap .main .oneclick-wrap .btn-wrap .btn .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#wrap .main .oneclick-wrap .btn-wrap .btn .txt p:first-of-type {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #1f1f1f;
}
#wrap .main .oneclick-wrap .btn-wrap .btn .txt p:last-of-type {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.2rem;
  word-break: keep-all;
}
#wrap .main .oneclick-wrap .btn-wrap .btn.cash .txt p {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #1f1f1f;
}
#wrap .main .oneclick-wrap .btn-wrap .btn + .btn {
  padding-top: 2rem;
  border-top: 1px solid #ebebeb;
}
#wrap .main .oneclick-wrap .btn-wrap .btn-type02 {
  background: #fff;
  border: 1px solid #5a81fa;
  border-radius: 0.5rem;
  padding: 0.2rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  text-align: center;
}
#wrap .main .oneclick-wrap .btn-wrap .btn-type02:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#wrap .main .oneclick-wrap .btn-wrap .btn-type02 i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.4rem;
  word-break: keep-all;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 4rem;
}
#wrap .main .oneclick-wrap .btn-wrap .btn-type02 i.zmdi {
  font-family: "Material-Design-Iconic-Font";
  font-weight: normal;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #5a81fa;
}
#wrap .main .oneclick-wrap .btn-wrap .btn-type02 p {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.2rem;
  word-break: keep-all;
  color: #1f1f1f;
  width: calc(100% - 4rem);
}
#wrap .main .oneclick-wrap .btn-wrap .btn-type02 + .btn-type02 {
  margin-top: 0.8rem;
}
#wrap .main .oneclick-wrap .btn-wrap .ios-wrap {
  width: 55%;
  padding-right: 2rem;
  border-right: 1px solid #ebebeb;
}
#wrap .main .oneclick-wrap .btn-wrap .other-wrap {
  width: 45%;
  padding-left: 2rem;
}
#wrap .main .youtube-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2.4rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
          box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}
#wrap .main .youtube-wrap .youtube-box {
  width: 100%;
  aspect-ratio: 1.78/1;
}
#wrap .main .youtube-wrap .youtube-box a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap .main .youtube-wrap .youtube-box a .thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#wrap .main .youtube-wrap .youtube-box a .thumbnail::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../images/icon/ico_play.png") no-repeat center;
  background-size: 100%;
  width: 2.8rem;
  height: 3.7rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 20.4rem;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 20.4rem;
}
#wrap .main .youtube-wrap .youtube-info-box {
  width: 100%;
}
#wrap .main .youtube-wrap .youtube-info-box .flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3rem;
}
#wrap .main .youtube-wrap .youtube-info-box .flex-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#wrap .main .youtube-wrap .youtube-info-box .flex-wrap div .youtube-info-text {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.2rem;
  word-break: keep-all;
  color: #a0a0a0;
}
#wrap .main .youtube-wrap .youtube-info-box .flex-wrap div .youtube-count {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #1f1f1f;
}
#wrap .main .youtube-wrap .youtube-info-box .flex-wrap div .youtube-count span {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.6rem;
  word-break: keep-all;
}
#wrap .main .youtube-wrap .youtube-info-box .flex-wrap .target {
  text-align: right;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #1f1f1f;
}
#wrap .main .youtube-wrap .youtube-info-box .youtube-progress {
  position: relative;
  width: 100%;
}
#wrap .main .youtube-wrap .youtube-info-box .youtube-progress .progress-bar {
  background: #ebebeb;
  border-radius: 1.2rem;
  width: 100%;
  height: 1rem;
}
#wrap .main .youtube-wrap .youtube-info-box .youtube-progress .progress-bar .percent {
  position: relative;
  width: 0;
  height: 100%;
  border-radius: 1.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#cedeff), to(#5a81fa));
  background: linear-gradient(90deg, #cedeff 0%, #5a81fa 100%);
  -webkit-animation: progressBarAnimation 2s ease-in-out;
          animation: progressBarAnimation 2s ease-in-out;
}
#wrap .main .youtube-wrap .youtube-info-box .youtube-progress .progress-bar .percent::before {
  content: attr(per);
  font-size: 1.4rem;
  word-break: keep-all;
  font-family: "Pretendard Variable";
  font-weight: 700;
  position: absolute;
  top: -2rem;
  right: 0;
  opacity: 0;
  -webkit-animation: textAnimation 0.05s ease-in-out 2s forwards;
          animation: textAnimation 0.05s ease-in-out 2s forwards;
  color: #2b308b;
}
@-webkit-keyframes textAnimation {
  to {
    opacity: 1;
  }
}
@keyframes textAnimation {
  to {
    opacity: 1;
  }
}
#wrap .main .twitter-wrap {
  width: 100%;
  height: 711px;
  padding: 2.4rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
          box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#wrap .main .twitter-wrap .timeline-box {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
#wrap .main .twitter-wrap .timeline-box::-webkit-scrollbar {
  width: 0.6rem;
  height: 2rem;
}
#wrap .main .twitter-wrap .timeline-box::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 1.2rem;
}
#wrap .main .twitter-wrap .timeline-box::-webkit-scrollbar-track {
  background: transparent;
}
#wrap .main .twitter-wrap .hashtag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}
#wrap .main .twitter-wrap .hashtag-box button {
  background: #fff;
  border: 1px solid #5a81fa;
  border-radius: 0.5rem;
  padding: 0.2rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.2rem;
  word-break: keep-all;
  color: #1f1f1f;
}
#wrap .main .twitter-wrap .hashtag-box button:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#wrap .main .twitter-wrap .hashtag-box button i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.4rem;
  word-break: keep-all;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  color: #5a81fa;
  padding: 1rem;
}
#wrap .main .twitter-wrap .hashtag-box button i.zmdi {
  font-family: "Material-Design-Iconic-Font";
  font-weight: normal;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #5a81fa;
}
#wrap .sub {
  max-width: 98rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 0;
}
#wrap .sub .section-inner {
  padding-top: 5rem;
  margin: 0 auto;
}
#wrap .sub .section-inner .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}
#wrap .sub .section-inner .section-title h3 {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #696e82;
}
#wrap .sub .section-inner .section-title .chart-info-text {
  text-align: right;
  color: #a0a0a0;
  font-size: 1.4rem;
  word-break: keep-all;
}
#wrap .sub .tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2rem 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#wrap .sub .tab-menu::-webkit-scrollbar {
  display: none;
}
#wrap .sub .tab-menu li {
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.4rem;
  word-break: keep-all;
  font-family: "Pretendard Variable";
  font-weight: 400;
  border: 1px solid #5a81fa;
  padding: 1rem 1.4rem;
  border-radius: 2.6rem;
  color: #5a81fa;
  background: #fff;
}
#wrap .sub .tab-menu li:hover, #wrap .sub .tab-menu li.active {
  color: #fff;
  background: #5a81fa;
}
#wrap .sub .tab-menu li.recommend::before {
  content: "\f1de";
  font-family: "Material-Design-Iconic-Font";
  font-weight: normal;
  font-size: 1.8rem;
  word-break: keep-all;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
}
#wrap .sub .tab-menu li.melon::before {
  background: url("../images/icon/ico_melon.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.genie::before {
  background: url("../images/icon/ico_genie.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.bugs::before {
  background: url("../images/icon/ico_bugs.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.flo::before {
  background: url("../images/icon/ico_flo.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.vibe::before {
  background: url("../images/icon/ico_vibe.jpg") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.kakao::before {
  background: url("../images/icon/ico_kakao.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.youtube::before {
  background: url("../images/icon/ico_youtube.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.mubeat::before {
  background: url("../images/icon/ico_mubeat.jpg") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.idolchamp::before {
  background: url("../images/icon/ico_idolchamp.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.startplanet::before {
  background: url("../images/icon/ico_startplanet.jpg") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.idolplus::before {
  background: url("../images/icon/ico_idolplus.jpg") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.superstart::before {
  background: url("../images/icon/ico_superstart.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.mnet::before {
  background: url("../images/icon/ico_mnet.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.broadcast::before {
  background: url("../images/icon/ico_broadcast.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li.cheering::before {
  background: url("../images/icon/ico_cheering.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#wrap .sub .tab-menu li::before {
  content: "";
  display: inline-block;
  border-radius: 1.2rem;
  vertical-align: middle;
  margin-right: 0.8rem;
}
#wrap .sub .tab-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: none;
  background: #fff;
}
#wrap .sub .tab-box.show {
  display: block;
}
#wrap .sub .tab-box .guide-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#wrap .sub .tab-box .guide-tab::-webkit-scrollbar {
  display: none;
}
#wrap .sub .tab-box .guide-tab li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1.5rem 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  word-break: keep-all;
  font-family: "Pretendard Variable";
  font-weight: 400;
  color: #1f1f1f;
  opacity: 0.7;
  border-bottom: 1px solid #ebebeb;
}
#wrap .sub .tab-box .guide-tab li.active {
  color: #5a81fa;
  border-bottom: 2px solid #5a81fa;
}
#wrap .sub .tab-box .guide-box {
  width: calc(90% - 4rem);
  padding: 2rem;
  display: none;
  margin: 0 auto;
}
#wrap .sub .tab-box .guide-box.show {
  display: block;
}
#wrap .sub .tab-box .guide-box img {
  max-width: 915px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap .sub .tab-box .img-box {
  width: calc(90% - 4rem);
  padding: 2rem;
  margin: 0 auto;
}
#wrap .sub .tab-box .img-box img {
  max-width: 915px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* color */
/* font */
/* scroll */
/* layout */
/* button */
/* image */
/* icon */
.show {
  display: block !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(31, 31, 31, 0.5);
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  height: 0;
}
.black-overlay.show {
  width: 100vw;
  height: 100vh;
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(31, 31, 31, 0.5);
  z-index: 101;
}
.popup .popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 400px;
  width: 90%;
  height: auto;
  background: #fff;
  border-radius: 0.8rem;
}
.popup.type01 .popup-wrap {
  height: auto;
}
.popup.type01 .popup-wrap .popup-box {
  padding: 3rem 1.5rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup.type01 .popup-wrap .popup-box p {
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #1f1f1f;
  line-height: 2.8rem;
}
.popup.type01 .popup-wrap .popup-box button {
  width: 8rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: 1px solid #5a81fa;
  background: #5a81fa;
  color: #fff;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.4rem;
  word-break: keep-all;
}
.popup.type02 .popup-wrap .popup-box {
  width: 100%;
  padding: 6rem 0;
}
.popup.type02 .popup-wrap .popup-box .pop-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 2rem;
  width: 100%;
}
.popup.type02 .popup-wrap .popup-box .pop-top h3 {
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #1f1f1f;
}
.popup.type02 .popup-wrap .popup-box .pop-top button {
  position: absolute;
  top: 0;
  right: 2rem;
  background: url("../images/icon/ico_close.png") no-repeat center;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
}
.popup.type02 .popup-wrap .popup-box .pop-contents {
  padding-top: 3rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li {
  cursor: pointer;
  font-size: 1.4rem;
  word-break: keep-all;
  font-family: "Pretendard Variable";
  font-weight: 400;
  border: 1px solid #5a81fa;
  padding: 1rem 1.4rem;
  border-radius: 2.6rem;
  color: #5a81fa;
  background: #fff;
  list-style: none;
  width: 28%;
  text-align: center;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li:hover {
  background: #5a81fa;
  color: #fff;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li::before {
  content: "";
  display: inline-block;
  border-radius: 1.2rem;
  vertical-align: middle;
  margin-right: 0.8rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li.melon::before {
  background: url("../images/icon/ico_melon.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li.genie::before {
  background: url("../images/icon/ico_genie.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li.bugs::before {
  background: url("../images/icon/ico_bugs.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li.flo::before {
  background: url("../images/icon/ico_flo.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li.vibe::before {
  background: url("../images/icon/ico_vibe.jpg") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents .btn-box li.kakao::before {
  background: url("../images/icon/ico_kakao.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type02 .popup-wrap .popup-box .pop-contents p {
  color: #696e82;
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.4rem;
  word-break: keep-all;
  line-height: 1.8rem;
  text-align: center;
  margin-top: 1.5rem;
  word-break: keep-all;
}
.popup.type03 .popup-wrap .popup-box {
  width: 100%;
  padding: 6rem 0 3rem;
}
.popup.type03 .popup-wrap .popup-box .pop-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 2rem;
  width: 100%;
}
.popup.type03 .popup-wrap .popup-box .pop-top h3 {
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #1f1f1f;
}
.popup.type03 .popup-wrap .popup-box .pop-top button {
  position: absolute;
  top: 0;
  right: 2rem;
  background: url("../images/icon/ico_close.png") no-repeat center;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
}
.popup.type03 .popup-wrap .popup-box .pop-contents {
  padding-top: 3rem;
  width: 90%;
  margin: 0 auto;
}
.popup.type03 .popup-wrap .popup-box .pop-contents .notice p {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1.4rem;
  word-break: keep-all;
  color: #696e82;
  text-align: center;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.6rem;
  word-break: keep-all;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  vertical-align: -7px;
  margin-right: 0.8rem;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.melon::before {
  background: url("../images/icon/ico_melon.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px solid #4bb346;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.melon + .btn-box li {
  border: 1px solid #4bb346;
  color: #4bb346;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.genie::before {
  background: url("../images/icon/ico_genie.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px solid #237ade;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.genie + .btn-box li {
  border: 1px solid #237ade;
  color: #237ade;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.bugs::before {
  background: url("../images/icon/ico_bugs.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.bugs + .btn-box li {
  border: 1px solid #ed4411;
  color: #ed4411;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.vibe::before {
  background: url("../images/icon/ico_vibe.jpg") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.vibe + .btn-box li {
  border: 1px solid #8552e3;
  color: #8552e3;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.flo::before {
  background: url("../images/icon/ico_flo.png") no-repeat center;
  background-size: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
.popup.type03 .popup-wrap .popup-box .pop-contents p.flo + .btn-box li {
  border: 1px solid #5254e3;
  color: #5254e3;
}
.popup.type03 .popup-wrap .popup-box .pop-contents .btn-box {
  margin: 1rem auto 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem 0.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup.type03 .popup-wrap .popup-box .pop-contents .btn-box:last-of-type {
  margin-bottom: 0;
}
.popup.type03 .popup-wrap .popup-box .pop-contents .btn-box li {
  cursor: pointer;
  font-size: 1.4rem;
  word-break: keep-all;
  font-family: "Pretendard Variable";
  font-weight: 400;
  padding: 1rem 1.2rem;
  border-radius: 2.6rem;
  color: #1f1f1f;
  background: #fff;
  list-style: none;
}
.popup.type03 .popup-wrap .popup-box .pop-contents .btn-box li:hover {
  opacity: 0.8;
}
.popup.type04 .popup-wrap {
  max-width: 500px;
}
.popup.type04 .popup-wrap .popup-box {
  width: 100%;
  padding: 6rem 0 3rem;
}
.popup.type04 .popup-wrap .popup-box .pop-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 2rem;
  width: 100%;
}
.popup.type04 .popup-wrap .popup-box .pop-top h3 {
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.8rem;
  word-break: keep-all;
  color: #1f1f1f;
}
.popup.type04 .popup-wrap .popup-box .pop-top button {
  position: absolute;
  top: 0;
  right: 2rem;
  background: url("../images/icon/ico_close.png") no-repeat center;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
}
.popup.type04 .popup-wrap .popup-box .pop-contents {
  width: 95%;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: auto;
}
.popup.type04 .popup-wrap .popup-box .pop-contents::-webkit-scrollbar {
  width: 0.6rem;
  height: 2rem;
}
.popup.type04 .popup-wrap .popup-box .pop-contents::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 1.2rem;
}
.popup.type04 .popup-wrap .popup-box .pop-contents::-webkit-scrollbar-track {
  background: transparent;
}
.popup.type04 .popup-wrap .popup-box .pop-contents img {
  width: 100%;
}

@media only screen and (max-width: 960px) {
  header .header-inner {
    padding: 0 2rem;
  }
  #wrap .main {
    padding: 8rem 2rem 3rem;
  }
  #wrap .main .twitter-wrap {
    max-height: 696px;
  }
}
@media only screen and (max-width: 799px) {
  html {
    font-size: 60% !important;
  }
  #wrap .main {
    padding: 8rem 2rem;
  }
  #wrap .main .oneclick-wrap .btn-wrap .btn {
    padding: 1.2rem 1rem;
  }
  #wrap .main .twitter-wrap {
    max-height: 631px;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 57.5% !important;
  }
  #wrap .main .section-inner {
    padding-top: 3rem;
  }
  #wrap .main .section-inner.flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #wrap .main .flex-column {
    width: 100%;
  }
  #wrap .main .flex-column + .flex-column {
    margin-top: 2rem;
  }
  #wrap .main .flex-column .twitter-wrap {
    height: 400px;
  }
  #wrap .sub {
    padding: 8rem 2rem;
  }
  #wrap .sub .section-inner {
    padding-top: 3rem;
  }
  #wrap .sub .section-title {
    margin-bottom: 1rem !important;
  }
  #wrap .sub .section-title h3 {
    font-size: 2rem !important;
  }
  #wrap .sub .tab-menu {
    gap: 1rem;
  }
  #wrap .sub .tab-menu li {
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
  }
  #wrap .sub .tab-box .guide-tab li {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  #wrap .sub .tab-box .guide-box {
    width: 100%;
    padding: 2rem 0;
  }
  #wrap .sub .tab-box .img-box {
    width: 100%;
    padding: 2rem 0;
  }
  .popup.type04 .popup-wrap {
    max-width: 500px;
  }
  .popup.type04 .popup-wrap .pop-contents {
    max-height: 400px;
  }
}
@media all and (max-width: 480px) {
  html {
    font-size: 52.5% !important;
  }
  header .pc-nav {
    display: none;
  }
  header .menu-btn {
    display: block !important;
  }
  .popup.type04 .popup-wrap {
    max-width: 400px;
  }
  .popup.type04 .popup-wrap .pop-contents {
    max-height: 300px;
  }
}
@media all and (max-width: 430px) {
  .hashtag-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hashtag-box button {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media all and (max-width: 375px) {
  #wrap .main .flex .oneclick-wrap .btn-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .ios-wrap {
    width: 100%;
    border-right: 0;
    padding-right: 0;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .ios-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .ios-wrap .container .btn {
    border-top: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .ios-wrap .container .btn .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .ios-wrap .container .btn i {
    margin-right: 0;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .ios-wrap .container .btn + .btn {
    padding-top: 0;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .other-wrap {
    margin-top: 2rem;
    width: 100%;
    padding-left: 0;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .other-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .other-wrap .btn-type02 {
    width: 49%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .other-wrap .btn-type02 i {
    width: auto;
    height: auto;
    margin-right: 1rem;
  }
  #wrap .main .flex .oneclick-wrap .btn-wrap .other-wrap .btn-type02 + .btn-type02 {
    margin-top: 0;
  }
  #wrap .main .flex .youtube-wrap .youtube-info-box .flex-wrap div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sub {
    padding: 8rem 2rem;
  }
  #wrap .sub .section-inner {
    padding-top: 3rem;
  }
  #wrap .sub .section-title {
    margin-bottom: 1rem !important;
  }
  #wrap .sub .section-title h3 {
    font-size: 2rem !important;
  }
  #wrap .sub .tab-menu {
    gap: 1rem;
  }
  #wrap .sub .tab-menu li {
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
  }
  #wrap .sub .tab-box .guide-tab li {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  #wrap .sub .tab-box .guide-box {
    width: 100%;
    padding: 2rem 0;
  }
  #wrap .sub .tab-box .img-box {
    width: 100%;
    padding: 2rem 0;
  }
  .popup.type04 .popup-wrap {
    max-width: 360px;
  }
}/*# sourceMappingURL=common.css.map */