@charset 'utf-8';

/* color */
$black : #1f1f1f;
$white : #fff;
$font-gray : #a0a0a0;
$main-color : #5a81fa;
$point-color1 : #2b308b;
$point-color2 : #cedeff;
$point-color3 : #a8b1ce;
$blue-gray : #696e82;
$h3-color : #566a7f;
$light-gray : #f8f9fd;
$border-color: #ebebeb;
$border-color2 : #f6f6f6;
$down : #5a81fa;
$up : #ff4d77;
$bg-gray : #f5f5f9;
$section-shadow : 0 2px 6px 0 rgba(67,89,113,.12);

/* font */
$font-name : 'Pretendard Variable';

@mixin ftIcon {
    font-family: 'Material-Design-Iconic-Font';
    font-weight: normal;
}

@mixin ftLight {
    font-family: $font-name;
    font-weight: 300;
}

@mixin ftRegular {
    font-family: $font-name;
    font-weight: 400;
}

@mixin ftMedium {
    font-family: $font-name;
    font-weight: 500;
}

@mixin ftBold {
    font-family: $font-name;
    font-weight: 700;
}

@mixin ftSize($size) {
    @if $size=='small' {
        font-size: 1.2rem;
        word-break: keep-all;
    }

    @else if $size=='regular' {
        font-size: 1.4rem;
        word-break: keep-all;
    }

    @else if $size=='large' {
        font-size: 1.6rem;
        word-break: keep-all;
    }

    @else if $size=='title' {
        font-size: 1.8rem;
        word-break: keep-all;
    }

    @else {
        font-size: $size;
    }
}

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

/* scroll */
@mixin scroll {
    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 2.0rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $border-color;
        border-radius: 1.2rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

@mixin noScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* layout */
@mixin flex($align, $justify, $gap: 0, $direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-direction: $direction;
}

@mixin centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* button */
@mixin button($width, $height, $radius) {
    width: $width;
    height: $height;

    @if $radius !=0 {
        border-radius: $radius;
    }
}

/* image */
@mixin image($name, $path: "../images/", $format:"png", $bgXY:center) {
    background: url("#{$path}#{$name}.#{$format}") no-repeat $bgXY;
}

@mixin logo($width, $height) {
    @include image($name:'logo');
    width: $width;
    height: $height;
}

/* icon */
@mixin icon($name, $path: "../images/icon/", $format:"png", $bgXY:center) {
    background: url("#{$path}#{$name}.#{$format}") no-repeat $bgXY;
    background-size: 100%;
}

@mixin ico_play($width, $height) {
    @include icon($name:'ico_play');
    width: $width;
    height: $height;
}
@mixin ico_arrow_bottom($width, $height) {
    @include icon($name:'ico_arrow_bottom');
    width: $width;
    height: $height;
}

@mixin ico_add_list($width, $height) {
    @include icon($name:'ico_add_list');
    width: $width;
    height: $height;
}

@mixin ico_melon($width, $height) {
    @include icon($name:'ico_melon');
    width: $width;
    height: $height;
}

@mixin ico_genie($width, $height) {
    @include icon($name:'ico_genie');
    width: $width;
    height: $height;
}

@mixin ico_flo($width, $height) {
    @include icon($name:'ico_flo');
    width: $width;
    height: $height;
}

@mixin ico_bugs($width, $height) {
    @include icon($name:'ico_bugs');
    width: $width;
    height: $height;
}

@mixin ico_vibe($width, $height) {
    @include icon($name:'ico_vibe', $format:"jpg");
    width: $width;
    height: $height;
}

@mixin ico_youtube($width, $height) {
    @include icon($name:'ico_youtube', $format:"png");
    width: $width;
    height: $height;
}

@mixin ico_kakao($width, $height) {
    @include icon($name:'ico_kakao', $format:"png");
    width: $width;
    height: $height;
}

@mixin ico_menu($width, $height) {
    @include icon($name:'ico_menu');
    width: $width;
    height: $height;
}

@mixin ico_close($width, $height) {
    @include icon($name:'ico_close');
    width: $width;
    height: $height;
}


@mixin ico_mubeat($width, $height) {
    @include icon($name:'ico_mubeat', $format:"jpg");
    width: $width;
    height: $height;
}

@mixin ico_idolchamp($width, $height) {
    @include icon($name:'ico_idolchamp', $format:"png");
    width: $width;
    height: $height;
}

@mixin ico_startplanet($width, $height) {
    @include icon($name:'ico_startplanet', $format:"jpg");
    width: $width;
    height: $height;
}
@mixin ico_idolplus($width, $height) {
    @include icon($name:'ico_idolplus', $format:"jpg");
    width: $width;
    height: $height;
}
@mixin ico_superstart($width, $height) {
    @include icon($name:'ico_superstart', $format:"png");
    width: $width;
    height: $height;
}
@mixin ico_mnet($width, $height) {
    @include icon($name:'ico_mnet', $format:"png");
    width: $width;
    height: $height;
}
@mixin ico_broadcast($width, $height) {
    @include icon($name:'ico_broadcast', $format:"png");
    width: $width;
    height: $height;
}
@mixin ico_cheering($width, $height) {
    @include icon($name:'ico_cheering', $format:"png");
    width: $width;
    height: $height;
}