@charset 'utf-8';

/* z-index header 10 */

.wrap {
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    .contents {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: rem(60);
        @include img_bg;

        .top_notice {
            position: relative;
            margin: rem(35) auto 0;
            @include flex(center, flex-start, rem(10));
            width: calc(100% - rem(40));
            max-width: 90%;
            height: rem(30);
            border-radius: rem(40);
            background: $sky-blue;
            padding: rem(8) rem(32) rem(8) rem(60);

            p {
                color: $font-main-color;
                @include ftBold;
                @include ftSize(lg);
                white-space: nowrap;
            }

            span {
                color: $font-main-color;
                @include ftRegular;
                @include ftSize(md);
                @include ellipsis;
            }

            &::before {
                @include content;
                @include centerY($left: 0);
                @include img_notice;
                width: rem(52);
                height: rem(52);
            }
        }

        .right_menu {
            position: absolute;
            top: rem(172);
            right: rem(18);

            &::before {
                @include content(block);
                position: absolute;
                top: rem(-5);
                width: rem(45);
                height: rem(15);
                background: linear-gradient(0deg, rgba(128, 211, 255, 0) 0%, rgba(128, 211, 255, 1) 100%);
            }

            // &::after {
            //     @include content(block);
            //     position: absolute;
            //     bottom: 0;
            //     width: rem(45);
            //     height: rem(15);
            //     background: linear-gradient(180deg, rgba(161, 212, 153, 0) 0%, rgba(161, 212, 153, 1) 100%);
            // }

            ul {
                // height: 240px;
                //overflow-y: auto;
                //@include noscroll;
                width: rem(48);
                @include flex(center, flex-start, rem(16), column);

                .menu_box {
                    &:first-child {
                        margin-top: rem(5);
                    }

                    // &:last-child {
                    //     margin-bottom: rem(16);
                    //     opacity: 0.8;
                    // }

                    button {
                        color: $font-main-color;
                        @include ftBold;
                        @include ftSize(md);
                        text-align: center;
                        @include flex(center, center, rem(4), column);

                        &::before {
                            @include content(block);
                            width: rem(40);
                            height: rem(40);
                            border-radius: 50%;
                            box-shadow: 0 0 5px 0 rgba(0, 72, 127, 0.2);
                        }

                        &.stamp {
                            &::before {
                                @include img_stamp;
                            }
                        }

                        &.invite {
                            &::before {
                                @include img_invite;
                            }
                        }

                        &.roulette {
                            &::before {
                                @include img_roulette;
                            }

                            &:disabled {
                                filter: grayscale(1) brightness(0.9);
                                pointer-events: none;

                                &::after {
                                    content: attr(data-countdown);
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-50%, -50%);
                                    color: $white;
                                    @include ftBold;
                                    @include ftSize(9);
                                    letter-spacing: rem(-0.2);
                                    text-align: center;
                                    background: $gray;
                                    border-radius: 3px;
                                    padding: rem(2) rem(4);
                                }
                            }
                        }

                        &.mission {
                            &::before {
                                @include img_mission;
                            }
                        }
                    }
                }
            }
        }

        .bottom_mission {
            @include centerX($bottom: rem(15));
            @include flex(center, center, rem(10));
            width: calc(100% - rem(40));
            max-width: 90%;

            .mission_box {
                position: relative;
                @include flex(center, center, rem(8), column);

                .mission_btn {
                    z-index: 10;
                    @include flex(center, center, rem(8), column);
                    background: $white;
                    border-radius: rem(7);
                    width: rem(100);
                    height: rem(90);
                    color: $font-main-color;
                    @include ftMedium;
                    @include ftSize(md);

                    &::before {
                        @include content(block);
                        width: rem(50);
                        height: rem(44);
                    }

                    &.pet {
                        &::before {
                            @include img_pet;
                        }
                    }

                    &.feed {
                        &::before {
                            @include img_feed;
                        }
                    }

                    &.play {
                        &::before {
                            @include img_play;
                        }
                    }
                }

                .count {
                    width: rem(48);
                    height: rem(20);
                    color: $point-color;
                    @include ftMedium;
                    @include ftSize(md);
                    text-align: center;
                    line-height: rem(20);
                    background: $sky-blue;
                    border-radius: rem(10);
                    border: 1px solid $point-color;
                }
            }

            .mission_ani {
                position: absolute;
                z-index: 9;

                div {
                    @include centerX($top: -50px);
                }

                &.ani_play {

                    div:nth-child(even) {
                        animation: 2.8s missionAniEven linear;
                    }

                    div:nth-child(odd) {
                        animation: 2.8s missionAniOdd linear;
                    }

                    div:nth-child(1) {
                        animation-delay: 0.4s;
                    }

                    div:nth-child(2) {
                        animation-delay: 0.6s;
                    }

                    div:nth-child(3) {
                        animation-delay: 1.2s;
                    }

                    div:nth-child(4) {
                        animation-delay: 2.0s;
                    }

                    div:nth-child(5) {
                        animation-delay: 2.4s;
                    }

                    div:nth-child(6) {
                        animation-delay: 2.6s;
                    }

                    div:nth-child(7) {
                        animation-delay: 3.2s;
                    }

                    @-moz-keyframes missionAniEven {
                        0% {
                            transform: translate(0, 0) scale(1);
                            opacity: 1;
                            filter: blur(0px);
                        }

                        100% {
                            transform: translate(35px, 0px) scale(1.5);
                            opacity: 0;
                            filter: blur(5px);
                        }
                    }

                    @-webkit-keyframes missionAniEven {
                        0% {
                            transform: translate(0px, 0px) scale(1);
                            opacity: 1;
                            filter: blur(0px);
                        }

                        100% {
                            transform: translate(0px, -500px) scale(1);
                            opacity: 0;
                            filter: blur(5px);
                        }
                    }

                    @keyframes missionAniEven {
                        0% {
                            transform: translate(5px, 10px) scale(1);
                            opacity: 1;
                            filter: blur(0px);
                        }

                        100% {
                            transform: translate(0px, -480px) scale(1.5);
                            opacity: 0;
                            filter: blur(5px);
                        }
                    }

                    @-moz-keyframes missionAniOdd {
                        0% {
                            transform: translate(5px, 15px) scale(1);
                            opacity: 1;
                            filter: blur(0px);
                        }

                        100% {
                            transform: translate(10px, -480px) scale(1.5);
                            opacity: 0;
                            filter: blur(5px);
                        }
                    }

                    @-webkit-keyframes missionAniOdd {
                        0% {
                            transform: translate(0, 0) scale(1);
                            opacity: 1;
                            filter: blur(0px);
                        }

                        100% {
                            transform: translate(-35px, -480px) scale(1.5);
                            opacity: 0;
                            filter: blur(5px);
                        }
                    }

                    @keyframes missionAniOdd {
                        0% {
                            transform: translate(0, 0) scale(1);
                            opacity: 1;
                            filter: blur(0px);
                        }

                        100% {
                            transform: translate(-35px, -480px) scale(1.5);
                            opacity: 0;
                            filter: blur(5px);
                        }
                    }
                }

                &.heart {
                    div {
                        @include ico_heart(34, 28);
                    }
                }

                &.music {
                    div {
                        @include ico_music(34, 36);
                    }
                }

                &.smile {
                    div {
                        @include ico_smile(34, 34);
                    }
                }
            }
        }

        .character_box {
            position: absolute;
            left: 50%;
            top: 43%;
            transform: translate(-50%, -50%);
            width: rem(300);
            height: rem(250);
            
            .bubble {
                @include centerX($top: 0);
                padding: rem(8) rem(16);
                min-width: rem(94);
                max-width: rem(130);
                background: $bubble-bg;
                border: 1px solid $border-color;
                border-radius: rem(25);
                box-shadow: 0 0 8px 0 rgba(20, 1, 104, 0.15);

                &::before {
                    @include content;
                    bottom: rem(-10);
                    border-style: solid;
                    border-width: 1em 1em 0;
                    border-color: $bubble-bg transparent;
                    z-index: -1;
                    @include centerX;
                    box-shadow: 0 0 8px 0 rgba(20, 1, 104, 0.15), transparent;
                }

                p {
                    color: $font-main-color;
                    @include ftRegular;
                    @include ftSize(md);
                    @include ellipsis;
                    text-align: center;
                }
            }

            .character {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-42%, -50%);
                @include img_character;
                width: rem(130);
                height: rem(164);

                img {
                    width: rem(130);
                    height: rem(164);
                    object-fit: contain;
                }

                &::before {
                    @include content(block);
                    position: absolute;
                    left: 50%;
                    bottom: rem(-8);
                    transform: translateX(-62%);
                    background: rgba($black, 0.18);
                    width: rem(93);
                    height: rem(23);
                    border-radius: 50%;
                    z-index: -1; 
                }
            }

            &::after {
                @include content(block);
                @include centerX($top: rem(40));
                @include img_character_deco;
                width: rem(200);
                height: rem(55);
                z-index: -1; 
            }

            .info_box {
                @include centerX($bottom: rem(-100));
                @include flex(center, center, 0, column);
    
                .nickname_box {
                    @include flex(center, center, rem(5));
                    margin-bottom: rem(30);
    
                    .level {
                        color: $white;
                        @include ftBold;
                        @include ftSize(11);
                        letter-spacing: rem(-0.28);
                        text-align: center;
                        padding: rem(4) rem(12);
                        background: $point-color;
                        border-radius: rem(10);
                    }
    
                    .nickname {
                        color: $dark-blue;
                        @include ftBold;
                        @include ftSize(lg);
                    }
                }
    
                .level_box {
                    @include flex(center, center);
                    margin-bottom: rem(40);
    
                    .level_img {
                        position: absolute;
                        left: 0;
                        width: rem(40);
                        height: rem(40);
                        border-radius: 50%;
                        background-color: $white;
                        @include flex(center, center);
                        z-index: 2;
        
                        img {
                            width: rem(40);
                            height: rem(40);
                            object-fit: cover;
                        }
    
                        &.scaleup {
                            animation: sacleup 0.8s ease-in-out 3 both;
    
                            @keyframes sacleup {
                                0% {
                                  -webkit-transform: scale(1);
                                          transform: scale(1);
                                }
                                50% {
                                  -webkit-transform: scale(1.2);
                                          transform: scale(1.2);
                                }
                                100% {
                                  -webkit-transform: scale(1);
                                          transform: scale(1);
                                }
                              }
                        }
                    }
    
                    .level_progress {
                        position: relative;
                        width: rem(200);
                        height: rem(16);
                        border-radius: 0 rem(18) rem(18) 0;
                        background: rgba($white, 0.8);
                        margin-left: rem(35);
                        overflow: hidden;
        
                        .level_bar {
                            visibility: hidden;
                            width: rem(200);
                            height: rem(12);
                            @include centerY($right: rem(2.5));
                            background: $gradient1;
                            border-radius: 0 rem(18) rem(18) 0;
                            will-change: transform;
                            transition: clip-path 0.5s ease-out;
                        }
    
                        .level_count {
                            color: $font-main-color;
                            @include ftMedium;
                            @include ftSize(sm);
                            text-align: center;
                            position: absolute;
                            left: 45%;
                            top: 50%;
                            transform: translate(-50%, -50%);
    
                            &.wh_txt {
                                color: $white;
                            }
                        }
                    }
                }
    
                .goods_box {
                    @include flex(center, center);
                    .goods_img {
                        position: absolute;
                        left: 0;
                        width: rem(40);
                        height: rem(40);
                        border-radius: 50%;
                        background-color: $white;
                        border: 2px solid $point-color;
                        @include flex(center, center);
                        z-index: 2;
        
                        img {
                            width: rem(32);
                            height: rem(32);
                            object-fit: contain;
                        }
                    }
    
                    .goods_progress {
                        position: relative;
                        width: rem(200);
                        height: rem(16);
                        border-radius: 0 rem(18) rem(18) 0;
                        background: rgba($white, 0.8);
                        margin-left: rem(35);
                        overflow: hidden;
        
                        .goods_bar {
                            visibility: hidden;
                            width: rem(200);
                            height: rem(12);
                            @include centerY($right: rem(2.5));
                            background: $gradient2;
                            border-radius: 0 rem(18) rem(18) 0;
                            will-change: transform;
                            transition: clip-path 0.5s ease-out;
                        }
    
                        .goods_count {
                            color: $font-main-color;
                            @include ftMedium;
                            @include ftSize(sm);
                            text-align: center;
                            position: absolute;
                            left: 45%;
                            top: 50%;
                            transform: translate(-50%, -50%);
    
                            &.wh_txt {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header {
    z-index: 10;
    @include centerX(fixed, $top: 0);
    width: 100%;
    max-width: 768px;
    height: rem(60);
    background: $white;
    border-bottom: 1px solid $border-color;

    .prev_btn {
        @include ico_prev(9, 17, $black);
        @include centerY;
        left: rem(30);
    }

    h1 {
        color: $font-main-color;
        @include ftSemiBold;
        @include ftSize(xl);
        line-height: rem(60);
        text-align: center;
    }
}