@charset 'utf-8';

.show {
    display: block !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba($black, 0.5);
    transition: height 0.3s ease-out;
    height: 0;

    &.show {
        width: 100vw;
        height: 100vh;
    }
}

.popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($black, 0.5);
    z-index: 101;

    .popup-wrap {
        @include centerXY;
        max-width: 400px;
        width: 90%;
        height: auto;
        background: $white;
        border-radius: 0.8rem;
    }

    &.type01 {
        .popup-wrap {
            height: auto;

            .popup-box {
                padding: 3.0rem 1.5rem;
                width: 100%;
                height: auto;
                @include flex(center, center, 5.0rem, column);

                p {
                    text-align: center;
                    @include ftMedium;
                    @include ftSize(title);
                    color: $black;
                    line-height: 2.8rem;
                }

                button {
                    @include button(8.0rem, 4.0rem, 0.4rem);
                    border: 1px solid $main-color;
                    background: $main-color;
                    color: $white;
                    @include ftMedium;
                    @include ftSize(regular);
                }
            }
        }
    }

    &.type02 {
        .popup-wrap {
            .popup-box {
                width: 100%;
                padding: 6.0rem 0;

                .pop-top {
                    @include centerX;
                    top: 2.0rem;
                    width: 100%;

                    h3 {
                        text-align: center;
                        @include ftMedium;
                        @include ftSize(title);
                        color: $black;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: 2.0rem;
                        @include ico_close(1.5rem, 1.5rem);
                        @include ftSize(0);
                    }
                }

                .pop-contents {
                    padding-top: 3.0rem;

                    .btn-box {
                        width: 90%;
                        margin: 0 auto;
                        @include flex(center, space-between);

                        li {
                            cursor: pointer;
                            @include ftSize(regular);
                            @include ftRegular;
                            border: 1px solid $main-color;
                            padding: 1.0rem 1.4rem;
                            border-radius: 2.6rem;
                            color: $main-color;
                            background: $white;
                            list-style: none;
                            width: 28%;
                            text-align: center;

                            &:hover {
                                background: $main-color;
                                color: $white;
                            }

                            &::before {
                                content: '';
                                display: inline-block;
                                border-radius: 1.2rem;
                                vertical-align: middle;
                                margin-right: 0.8rem;
                            }

                            &.melon {
                                &::before {
                                    @include ico_melon(2.6rem, 2.6rem);
                                }
                            }

                            &.genie {
                                &::before {
                                    @include ico_genie(2.6rem, 2.6rem);
                                }
                            }

                            &.bugs {
                                &::before {
                                    @include ico_bugs(2.6rem, 2.6rem);
                                }
                            }

                            &.flo {
                                &::before {
                                    @include ico_flo(2.6rem, 2.6rem);
                                }
                            }

                            &.vibe {
                                &::before {
                                    @include ico_vibe(2.6rem, 2.6rem);
                                }
                            }

                            &.kakao {
                                &::before {
                                    @include ico_kakao(2.6rem, 2.6rem);
                                }
                            }
                        }
                    }

                    p {
                        color: $blue-gray;
                        @include ftRegular;
                        @include ftSize(regular);
                        line-height: 1.8rem;
                        text-align: center;
                        margin-top: 1.5rem;
                        word-break: keep-all;
                    }
                }
            }
        }
    }

    &.type03 {
        .popup-wrap {
            .popup-box {
                width: 100%;
                padding: 6.0rem 0 3.0rem;

                .pop-top {
                    @include centerX;
                    top: 2.0rem;
                    width: 100%;

                    h3 {
                        text-align: center;
                        @include ftMedium;
                        @include ftSize(title);
                        color: $black;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: 2.0rem;
                        @include ico_close(1.5rem, 1.5rem);
                        @include ftSize(0);
                    }
                }

                .pop-contents {
                    padding-top: 3.0rem;
                    width: 90%;
                    margin: 0 auto;

                    .notice {
                        p {
                            @include ftRegular;
                            @include ftSize(regular);
                            color: $blue-gray;
                            text-align: center;
                        }
                    }

                    p {
                        @include ftMedium;
                        @include ftSize(large);
                        &::before {
                            content: '';
                            display: inline-block;
                            border-radius: 50%;
                            vertical-align: -7px;
                            margin-right: 0.8rem;
                        }

                        &.melon {
                            &::before {
                                @include ico_melon(2.6rem, 2.6rem);
                                border: 1px solid #4bb346;
                            }

                            & + .btn-box {
                                li {
                                    border: 1px solid #4bb346;
                                    color: #4bb346;
                                }
                            }
                        }

                        &.genie {
                            &::before {
                                @include ico_genie(2.6rem, 2.6rem);
                                border: 1px solid #237ade;
                            }

                            & + .btn-box {
                                li {
                                    border: 1px solid #237ade;
                                    color: #237ade;
                                }
                            }
                        }

                        &.bugs {
                            &::before {
                                @include ico_bugs(2.6rem, 2.6rem);
                                //border: 1px solid #ed4411;
                            }

                            & + .btn-box {
                                li {
                                    border: 1px solid #ed4411;
                                    color: #ed4411;
                                }
                            }
                        }

                        &.vibe {
                            &::before {
                                @include ico_vibe(2.6rem, 2.6rem);
                                //border: 1px solid #8552e3;
                            }

                            & + .btn-box {
                                li {
                                    border: 1px solid #8552e3;
                                    color: #8552e3;
                                }
                            }
                        }

                        &.flo {
                            &::before {
                                @include ico_flo(2.6rem, 2.6rem);
                                //border: 1px solid #8552e3;
                            }

                            & + .btn-box {
                                li {
                                    border: 1px solid #5254e3;
                                    color: #5254e3;
                                }
                            }
                        }
                    }

                    .btn-box {
                        margin: 1.0rem auto 2.5rem;
                        @include flex(center, flex-start, 1.5rem 0.8rem);
                        flex-wrap: wrap;

                        &:last-of-type {
                            margin-bottom: 0
                        }

                        li {
                            cursor: pointer;
                            @include ftSize(regular);
                            @include ftRegular;
                            padding: 1.0rem 1.2rem;
                            border-radius: 2.6rem;
                            color: $black;
                            background: $white;
                            list-style: none;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    &.type04 {
        .popup-wrap {
            max-width: 500px;
            .popup-box {
                width: 100%;
                padding: 6.0rem 0 3.0rem;

                .pop-top {
                    @include centerX;
                    top: 2.0rem;
                    width: 100%;

                    h3 {
                        text-align: center;
                        @include ftMedium;
                        @include ftSize(title);
                        color: $black;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: 2.0rem;
                        @include ico_close(1.5rem, 1.5rem);
                        @include ftSize(0);
                    }
                }

                .pop-contents {
                    width: 95%;
                    margin: 0 auto;
                    max-height: 600px;
                    overflow-y: auto;
                    @include scroll;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    header {
        .header-inner {
            padding: 0 2.0rem;
        }
    }

    #wrap {
        .main {
            padding: 8.0rem 2.0rem 3.0rem;

            .twitter-wrap {
                max-height: 696px;
            }
        }
    }
}

@media only screen and (max-width: 799px) {
    html {
        font-size: 60% !important;
    }

    #wrap {
        .main {
            padding: 8.0rem 2.0rem;

            .oneclick-wrap {
                .btn-wrap {
                    .btn {
                        padding: 1.2rem 1.0rem;
                    }
                }
            }

            .twitter-wrap {
                max-height: 631px;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 57.5% !important;
    }

    #wrap {
        .main {
            .section-inner {
                padding-top: 3.0rem;

                &.flex {
                    flex-wrap: wrap;
                }
            }

            .flex-column {
                &+.flex-column {
                    margin-top: 2.0rem;
                }

                width: 100%;

                .twitter-wrap {
                    height: 400px;
                }
            }
        }

        .sub {
            .section-inner {
                padding-top: 3.0rem;
            }

            .section-title {
                margin-bottom: 1.0rem !important;

                h3 {
                    font-size: 2.0rem !important;
                }
            }

            padding: 8.0rem 2.0rem;

            .tab-menu {
                gap: 1.0rem;

                li {
                    font-size: 1.2rem;
                    padding: 0.8rem 1.4rem;
                }
            }

            .tab-box {
                .guide-tab {
                    li {
                        font-size: 1.2rem;
                        padding: 1.5rem;
                    }
                }

                .guide-box {
                    width: 100%;
                    padding: 2.0rem 0;
                }

                .img-box {
                    width: 100%;
                    padding: 2.0rem 0;
                }

            }
        }
    }

    .popup {
        &.type04 {
            .popup-wrap {
                max-width: 500px;
                .pop-contents {
                    max-height: 400px;
                }
            }
        }
    }
}

@media all and (max-width:480px) {
    html {
        font-size: 52.5% !important;
    }

    header {
        .pc-nav {
            display: none;
        }

        .menu-btn {
            display: block !important;
        }
    }

    .popup {
        &.type04 {
            .popup-wrap {
                max-width: 400px;
                .pop-contents {
                    max-height: 300px;
                }
            }
        }
    }
}

@media all and (max-width: 430px) {
    .hashtag-box {
        flex-wrap: wrap;
        button {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
}

@media all and (max-width:375px) {
    #wrap {
        .main {
            .flex {
                .oneclick-wrap {
                    .btn-wrap {
                        flex-wrap: wrap;

                        .ios-wrap {
                            width: 100%;
                            border-right: 0;
                            padding-right: 0;

                            .container {
                                @include flex(flex-start, space-between);

                                .btn {
                                    border-top: 0;
                                    padding: 0;
                                    @include flex(center, center, 1.0rem, column);

                                    .txt {
                                        align-items: center;
                                    }

                                    i {
                                        margin-right: 0;
                                    }

                                    &+.btn {
                                        padding-top: 0;
                                    }
                                }
                            }
                        }

                        .other-wrap {
                            margin-top: 2.0rem;
                            width: 100%;
                            padding-left: 0;

                            .container {
                                @include flex(center, space-between, 1.0rem 0);
                                flex-wrap: wrap;
                            }

                            .btn-type02 {
                                width: 49%;
                                justify-content: center;

                                i {
                                    width: auto;
                                    height: auto;
                                    margin-right: 1.0rem;
                                }

                                &+.btn-type02 {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }

                .youtube-wrap {
                    .youtube-info-box {
                        .flex-wrap {
                            div {
                                @include flex(flex-start, center, 1.0rem, column);
                            }
                        }
                    }
                }
            }
        }

        .sub {
            .section-inner {
                padding-top: 3.0rem;
            }

            .section-title {
                margin-bottom: 1.0rem !important;

                h3 {
                    font-size: 2.0rem !important;
                }
            }

            padding: 8.0rem 2.0rem;

            .tab-menu {
                gap: 1.0rem;

                li {
                    font-size: 1.2rem;
                    padding: 0.8rem 1.4rem;
                }
            }

            .tab-box {
                .guide-tab {
                    li {
                        font-size: 1.2rem;
                        padding: 1.5rem;
                    }
                }

                .guide-box {
                    width: 100%;
                    padding: 2.0rem 0;
                }

                .img-box {
                    width: 100%;
                    padding: 2.0rem 0;
                }

            }
        }
    }

    .popup {
        &.type04 {
            .popup-wrap {
                max-width: 360px;
            }
        }
    }
}