/*-------------------------------------------------------------------------------------------------------------
    Explain : 에이닉 홈페이지
    File : common.scss
    Date   : 2024.09.11
/*------------------------------------------------------------------------------------------------------------*/

@import "_reset";
@import "_contents";

@import "_mobile";