/*-------------------------------------------------------------------------------------------------------------
    Explain : 모비컴즈 기프트리
    File : common.scss
    Date   : 2024.03.27
/*------------------------------------------------------------------------------------------------------------*/

@import "_reset";
@import "_fonts";
@import "_colors";
@import "_images";
@import "_components";

@import "_contents";

@import "_mobile";